<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/recruiters.css">
    <script src="./public/js/data.js"></script> 
<script src=".\public\js\script.js"></script>

    
  
    <title>TeamSpace</title>
</head>
<body>
    
        <div class="main-content">
        <!-- <div class="main-content1"> -->
        <aside>
            <header class="header">
                <div class="header-left">
                    <div class="logo">
                        <span class="icon-TeamSpace">
                            <svg width="33" height="33" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <circle cx="50" cy="50" r="50" fill="#D9D9D9"/>
                            </svg>
                        </span>
                        TeamSpace
                    </div>
                    <div class="search-container">
                        <svg class="search-icon" width="30" height="30" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M53 53L40.9357 40.9357M40.9357 40.9357C44.9571 36.9143 47.4444 31.3587 47.4444 25.2222C47.4444 12.9492 37.4952 3 25.2222 3C12.9492 3 3 12.9492 3 25.2222C3 37.4952 12.9492 47.4444 25.2222 47.4444C31.3587 47.4444 36.9143 44.9571 40.9357 40.9357Z" stroke="#292929" stroke-opacity="0.3" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>   
                        <input type="text" placeholder="Search Tasks, People...">
                    </div>
                </div>
                <div class="header-right">
                    <span class="icon">
                        <svg width="30" height="30" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M35 11C35.8284 11 36 10.855 36 10.5C36 10.145 35.8284 9 35 9C34.1716 9 34 10.145 34 10.5C34 10.855 34.1716 11 35 11Z" stroke="#292929" stroke-opacity="0.7" stroke-width="3"/>
                            <path d="M20.75 50V21C20.75 17.6863 23.4363 15 26.75 15H43.25C46.5637 15 49.25 17.6863 49.25 21V50M20.75 50H49.25M20.75 50H16M49.25 50H54" stroke="#292929" stroke-opacity="0.7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M34 59L38 59" stroke="#292929" stroke-opacity="0.7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            <circle cx="35" cy="35" r="31" stroke="#292929" stroke-opacity="0.7" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg> 
                    </span>
                </span> 
                <span class="icon">
                    <svg width="30" height="30" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M66 35C66 41.3961 64.0629 47.3397 60.7435 52.2763C55.1775 60.5539 45.7247 66 35 66C24.2753 66 14.8225 60.5539 9.25653 52.2763C5.93705 47.3397 4 41.3961 4 35C4 17.8792 17.8792 4 35 4C52.1208 4 66 17.8792 66 35Z" stroke="#292929" stroke-opacity="0.7" stroke-width="4"/>
                        <path d="M41 21C41 24.3137 38.3137 27 35 27C31.6863 27 29 24.3137 29 21C29 17.6863 31.6863 15 35 15C38.3137 15 41 17.6863 41 21Z" stroke="#292929" stroke-opacity="0.7" stroke-width="4"/>
                        <path d="M44.4989 38H26.5011C21.0665 38 16.4757 41.6135 15 46.5692C19.9513 52.3424 27.2985 56 35.5 56C43.7015 56 51.0487 52.3424 56 46.5692C54.5243 41.6135 49.9335 38 44.4989 38Z" stroke="#292929" stroke-opacity="0.7" stroke-width="4"/>
                        </svg>                                                                                                                  
                </span> 
                <a href="login" class="username">
                    <%= data.username %>
                   
                </a>
                </div>
            </header>
            
            
               
           
                <!-- <span class="Vector_167">
                    <svg width="220" height="900" viewBox="0 0 428 1945" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M-11.5 0C4.83333 9.16667 39.5 42.5 52 90.5C60.3402 122.526 58 170.5 61 189.5L58.2515 342.5L56.8749 403.5L55.4984 464.5C55.4984 464.5 58 475.833 62 480C66 484.167 74.8 490 76 490C77.2 490 75 558.167 74.5 590C74.5 590 65.4608 596.365 60.5 603C57.2138 607.395 53.1881 615 53.1881 615C53.1077 624.771 53.0445 634.31 53 643.5C51.1416 746.629 52.9005 804.673 61 907.5C71.4691 1040.41 78.9566 1115.61 109 1245.5C177.218 1540.44 428 1952 428 1952H-24L-11.5 0Z" fill="#0C0B19"/>
                        </svg>
                        
                                                                                             
                </span>                           -->
                <ul>
                    <li class="Overview">
                        <a href="index" class="index">
                            <span class="icon">
                                <svg width="20" height="20" viewBox="0 0 59 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M49 18C49 22.1421 45.6421 25.5 41.5 25.5C37.3579 25.5 34 22.1421 34 18C34 13.8579 37.3579 10.5 41.5 10.5C45.6421 10.5 49 13.8579 49 18Z" stroke="#91918F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2 5"/>
                                    <circle cx="17.5" cy="42" r="7.5" stroke="#91918F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2 5"/>
                                    <path d="M34 34.5H49V48.5C49 49.0523 48.5523 49.5 48 49.5H35C34.4477 49.5 34 49.0523 34 48.5V34.5Z" stroke="#91918F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="10 10"/>
                                    <path d="M10 10.5H25V24.5C25 25.0523 24.5523 25.5 24 25.5H11C10.4477 25.5 10 25.0523 10 24.5V10.5Z" stroke="#91918F" stroke-width="5" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="10 10"/>
                                    </svg>
                                    
                            </span> Overview
                        </a>
                    </li>
                    <li class="My_Projects">
                        <a href="my_projects" class="my_projects">
                            <span class="icon">                               
                                <svg width="20" height="20" viewBox="0 0 63 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M29.5321 3.31513C30.6189 2.22829 32.3811 2.22829 33.4679 3.31513L41.4063 11.2536C42.4932 12.3404 42.4932 14.1025 41.4063 15.1893L33.4679 23.1278C32.3811 24.2146 30.6189 24.2146 29.5321 23.1278L21.5937 15.1893C20.5068 14.1025 20.5068 12.3404 21.5937 11.2536L29.5321 3.31513Z" stroke="#91918F" stroke-width="4" stroke-dasharray="8 8"/>
                                    <path d="M48.3107 22.0937C49.3975 21.0068 51.1596 21.0068 52.2464 22.0937L60.1849 30.0321C61.2717 31.1189 61.2717 32.8811 60.1849 33.9679L52.2464 41.9063C51.1596 42.9932 49.3975 42.9932 48.3107 41.9063L40.3722 33.9679C39.2854 32.8811 39.2854 31.1189 40.3722 30.0321L48.3107 22.0937Z" stroke="#91918F" stroke-width="4" stroke-dasharray="8 8"/>
                                    <path d="M10.7536 22.0937C11.8404 21.0068 13.6025 21.0068 14.6893 22.0937L22.6278 30.0321C23.7146 31.1189 23.7146 32.8811 22.6278 33.9679L14.6893 41.9063C13.6025 42.9932 11.8404 42.9932 10.7536 41.9063L2.81513 33.9679C1.72829 32.8811 1.72829 31.1189 2.81513 30.0321L10.7536 22.0937Z" stroke="#91918F" stroke-width="4" stroke-dasharray="8 8"/>
                                    <path d="M29.5321 40.8722C30.6189 39.7854 32.3811 39.7854 33.4679 40.8722L41.4063 48.8107C42.4932 49.8975 42.4932 51.6596 41.4063 52.7464L33.4679 60.6849C32.3811 61.7717 30.6189 61.7717 29.5321 60.6849L21.5937 52.7464C20.5068 51.6596 20.5068 49.8975 21.5937 48.8107L29.5321 40.8722Z" stroke="#91918F" stroke-width="4" stroke-dasharray="8 8"/>
                                </svg>
                            </span>
                            My Projects
                        </a>
                    </li>
                    <li class="My_Tasks">
                        <a href="my_tasks" class="my_tasks">
                            <span class="icon">                              
                                <svg width="20" height="20" viewBox="0 0 59 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M12.2913 39.8333L9.83301 49.6667L19.6663 47.2083L50.2105 16.6642C50.9915 15.8832 50.9915 14.6168 50.2105 13.8358L45.6639 9.28921C44.8828 8.50817 43.6165 8.50817 42.8355 9.28921L12.2913 39.8333Z" stroke="#292929" stroke-opacity="0.5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="8 8"/>
                                    <path d="M37 14L46 23" stroke="#292929" stroke-opacity="0.5" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="8 8"/>
                                    <path d="M31.958 49.6665H51.6247" stroke="#292929" stroke-opacity="0.5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="8 8"/>
                                    </svg>                                                                                           
                            </span>
                            My Tasks
                        </a>
                    </li>
                    <li class="Schedule">
                        <a href="schedule" class="schedule">
                            <span class="icon">                              
                                <svg width="20" height="20" viewBox="0 0 59 62" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4 8H56V58C56 59.1046 55.1046 60 54 60H6C4.89543 60 4 59.1046 4 58V8Z" stroke="#292929" stroke-opacity="0.5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="10 5"/>
                                    <path d="M9 21H51.5" stroke="#292929" stroke-opacity="0.5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="10 5"/>
                                    <path d="M43 2V14" stroke="#292929" stroke-opacity="0.5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 5"/>
                                    <path d="M17 2V13.5" stroke="#292929" stroke-opacity="0.5" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="0 5"/>
                                    </svg>                                                                                                                             
                            </span>
                            Schedule
                        </a>
                    </li>
                    <li class="recruiters">
                        <a href="recruiters" class="recruiters">
                            <span class="icon">                              
                                <svg width="20" height="20" viewBox="0 0 65 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 57C6.37604 49.1887 13.7752 43.8425 25.319 43.8425C36.8627 43.8425 44.2619 49.1887 47.6379 57M49.7736 37.9193C55.8868 42.1593 58.9434 46.3993 62 54.8793M43.4156 5.51065C46.2921 7.65712 48.2475 11.8719 48.2475 16.7201C48.2475 21.4283 46.4035 25.5391 43.6626 27.7384M34.4887 16.72C34.4887 23.7451 30.3833 29.44 25.319 29.44C20.2546 29.44 16.1492 23.7451 16.1492 16.72C16.1492 9.69494 20.2546 4 25.319 4C30.3833 4 34.4887 9.69494 34.4887 16.72Z" stroke="#949494" stroke-width="5" stroke-linecap="round" stroke-dasharray="10 10"/>
                                    </svg>                                                                                                                                                                
                            </span>
                            Recruiters
                        </a>
                    </li>
                    <li class="Blog">
                        <a href="blog" class="blog">
                            <span class="icon">                              
                                <svg width="20" height="20" viewBox="0 0 67 63" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M38 20.5L19 20.5" stroke="#292929" stroke-opacity="0.5" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M38 33.5H25" stroke="#292929" stroke-opacity="0.5" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"/>
                                    <path d="M8 3H50V50.5" stroke="#292929" stroke-opacity="0.5" stroke-width="5" stroke-linecap="square" stroke-linejoin="round"/>
                                    <path d="M3 3V53.5C3 54.6046 3.89543 55.5 5 55.5H50.4444H62C63.1046 55.5 64 54.6046 64 53.5V16.5H55" stroke="#292929" stroke-opacity="0.5" stroke-width="5" stroke-linecap="square" stroke-linejoin="round"/>
                                    </svg>                                                                                                                                                                                                    
                            </span>
                            Blog
                        </a>
                    </li>
                    <li class="Settings">
                        <a href="settings">
                            <span class="icon">                              
                                <svg width="20" height="20" viewBox="0 0 59 60" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <circle cx="31" cy="30" r="5" stroke="#292929" stroke-opacity="0.5" stroke-width="5"/>
                                    <path d="M13.6391 14.6333C11.3381 17.1789 9.6904 20.2214 8.76018 23.4976L17.6242 28.847C18.9277 29.6336 18.9093 31.5302 17.5909 32.2914L9.02226 37.2385C9.54754 38.8781 10.2562 40.4909 11.1553 42.0481C12.0543 43.6052 13.0966 45.0253 14.2539 46.3L22.8226 41.3529C24.141 40.5917 25.7927 41.524 25.8222 43.0462L26.0229 53.3975C29.3253 54.23 32.784 54.3243 36.1391 53.6044L35.9429 43.4837C35.9123 41.9097 37.628 40.9192 38.9759 41.7326L47.6426 46.9629C49.9436 44.4172 51.5913 41.3747 52.5215 38.0986L43.6573 32.7491C42.3538 31.9624 42.3722 30.0659 43.6907 29.3047L52.2594 24.3575C51.7341 22.718 51.0254 21.1052 50.1264 19.5481C49.2274 17.9909 48.185 16.5707 47.0277 15.296L38.4591 20.2431C37.1406 21.0043 35.4889 20.072 35.4594 18.5499L35.2587 8.1986C31.9564 7.36613 28.4977 7.27184 25.1426 7.99174L25.3388 18.1125C25.3693 19.6864 23.6536 20.677 22.3058 19.8636L13.6391 14.6333Z" stroke="#292929" stroke-opacity="0.5" stroke-width="5" stroke-linejoin="round"/>
                                    </svg>                                                                                                                                                                                                                                       
                            </span>
                            Settings
                        </a>
                    </li>
                </ul>                
        </aside>
    
            <main>
                
        <base>
   
        <div class="filters">
            <div class="filter-button active" data-filter="Php">Php</div>
            <div class="filter-button" data-filter="Ui">Ui</div>
            <div class="filter-button" data-filter="C#">C#</div>
            <div class="filter-button" data-filter="html/css">html/css</div>
            <div class="filter-button" data-filter="Manager">Manager</div>
          </div>
          <div class="search-bar">
            <div class="search-input">
              <span class="search-icon">
                <svg width="18" height="18" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M16.2918 29.7502C23.7247 29.7502 29.7502 23.7247 29.7502 16.2918C29.7502 8.859 23.7247 2.8335 16.2918 2.8335C8.859 2.8335 2.8335 8.859 2.8335 16.2918C2.8335 23.7247 8.859 29.7502 16.2918 29.7502Z" stroke="white" stroke-width="1.58463" stroke-linecap="round" stroke-linejoin="round"/>
                  <path d="M31.1666 31.1668L28.3333 28.3335" stroke="white" stroke-width="1.58463" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
              </span>
              <input type="text" placeholder="Search for name or roles...">
            </div>
            <button class="filter-button-icon">
              <svg width="50" height="50" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g filter="url(#filter0_b_797_1702)">
                  <rect x="10" y="10" width="80" height="80" rx="20" fill="#2B2B2B"/>
                  <path d="M38.3337 36.0007H61.6671L49.9771 50.7006L38.3337 36.0007ZM31.9171 35.0907C36.6304 41.134 45.3337 52.334 45.3337 52.334V66.334C45.3337 67.6173 46.3837 68.6673 47.6671 68.6673H52.3337C53.6171 68.6673 54.6671 67.6173 54.6671 66.334V52.334C54.6671 52.334 63.3471 41.134 68.0604 35.0907C69.2504 33.5507 68.1537 31.334 66.2171 31.334H33.7604C31.8237 31.334 30.7271 33.5507 31.9171 35.0907Z" fill="white"/>
                </g>
                <defs>
                  <filter id="filter0_b_797_1702" x="-31.3744" y="-31.3744" width="162.749" height="162.749" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                    <feFlood flood-opacity="0" result="BackgroundImageFix"/>
                    <feGaussianBlur in="BackgroundImageFix" stdDeviation="20.6872"/>
                    <feComposite in2="SourceAlpha" operator="in" result="effect1_backgroundBlur_797_1702"/>
                    <feBlend mode="normal" in="SourceGraphic" in2="effect1_backgroundBlur_797_1702" result="shape"/>
                  </filter>
                </defs>
              </svg>
            </button>
          </div>
          
       
          <!-- Контейнер для карток вакансій -->
          <div class="cards-container">
            <% data.job.forEach(job => { %>
              <div class="card <%= job.color %>">
                <!-- Верхня частина картки -->
                <div class="card-header">
                  <div class="card-logo">G</div>
                  <div class="card-info">
                    <h3 class="card-title"><%= job.title %></h3>
                    <p class="card-company"><%= job.company %></p>
                  </div>
                </div>
          
                <!-- Теги -->
                <div class="card-tags">
                  <div class="tag"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_797_2298)">
                    <path d="M7.99992 1.3335C5.41992 1.3335 3.33325 3.42016 3.33325 6.00016C3.33325 9.50016 7.99992 14.6668 7.99992 14.6668C7.99992 14.6668 12.6666 9.50016 12.6666 6.00016C12.6666 3.42016 10.5799 1.3335 7.99992 1.3335ZM4.66659 6.00016C4.66659 4.16016 6.15992 2.66683 7.99992 2.66683C9.83992 2.66683 11.3333 4.16016 11.3333 6.00016C11.3333 7.92016 9.41325 10.7935 7.99992 12.5868C6.61325 10.8068 4.66659 7.90016 4.66659 6.00016Z" fill="white"/>
                    <path d="M7.99992 7.66683C8.92039 7.66683 9.66658 6.92064 9.66658 6.00016C9.66658 5.07969 8.92039 4.3335 7.99992 4.3335C7.07944 4.3335 6.33325 5.07969 6.33325 6.00016C6.33325 6.92064 7.07944 7.66683 7.99992 7.66683Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_797_2298">
                    <rect width="16" height="16" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                     <%= job.location %></div>
                  <div class="tag"> <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_797_2304)">
                    <path d="M8.00008 2L0.666748 6L3.33341 7.45333V11.4533L8.00008 14L12.6667 11.4533V7.45333L14.0001 6.72667V11.3333H15.3334V6L8.00008 2ZM12.5467 6L8.00008 8.48L3.45341 6L8.00008 3.52L12.5467 6ZM11.3334 10.66L8.00008 12.48L4.66675 10.66V8.18L8.00008 10L11.3334 8.18V10.66Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_797_2304">
                    <rect width="16" height="16" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                    <%= job.experience %></div>
                  <div class="tag"><svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_797_2309)">
                    <path d="M7.99325 1.3335C4.31325 1.3335 1.33325 4.32016 1.33325 8.00016C1.33325 11.6802 4.31325 14.6668 7.99325 14.6668C11.6799 14.6668 14.6666 11.6802 14.6666 8.00016C14.6666 4.32016 11.6799 1.3335 7.99325 1.3335ZM7.99992 13.3335C5.05325 13.3335 2.66659 10.9468 2.66659 8.00016C2.66659 5.0535 5.05325 2.66683 7.99992 2.66683C10.9466 2.66683 13.3333 5.0535 13.3333 8.00016C13.3333 10.9468 10.9466 13.3335 7.99992 13.3335ZM7.85325 4.66683H7.81325C7.54659 4.66683 7.33325 4.88016 7.33325 5.14683V8.2935C7.33325 8.52683 7.45325 8.74683 7.65992 8.86683L10.4266 10.5268C10.6533 10.6602 10.9466 10.5935 11.0799 10.3668C11.2199 10.1402 11.1466 9.84016 10.9133 9.70683L8.33325 8.1735V5.14683C8.33325 4.88016 8.11992 4.66683 7.85325 4.66683Z" fill="white"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_797_2309">
                    <rect width="16" height="16" fill="white"/>
                    </clipPath>
                    </defs>
                    </svg>
                     <%= job.type %></div>
                </div>
          
                <!-- Опис -->
                <p class="card-description">
                  <%= job.description %>
                  <a href="#">Read More</a>
                </p>
          
                <!-- Нижня частина картки -->
                <div class="card-footer">
                  <span><svg width="15" height="15" viewBox="0 0 25 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_797_2207)">
                    <path d="M13.8124 3.25803C8.5103 3.1122 4.16656 7.37261 4.16656 12.633H2.30197C1.83322 12.633 1.60406 13.1955 1.93739 13.5184L4.84364 16.4351C5.05197 16.6434 5.37489 16.6434 5.58322 16.4351L8.48947 13.5184C8.81239 13.1955 8.58322 12.633 8.11447 12.633H6.24989C6.24989 8.57053 9.56239 5.28928 13.6457 5.34136C17.5207 5.39345 20.7811 8.65386 20.8332 12.5289C20.8853 16.6018 17.6041 19.9247 13.5416 19.9247C11.8645 19.9247 10.3124 19.3518 9.08322 18.383C8.66655 18.0601 8.08322 18.0914 7.70822 18.4664C7.27072 18.9039 7.30197 19.6434 7.79155 20.0184C9.37489 21.2684 11.3645 22.008 13.5416 22.008C18.802 22.008 23.0624 17.6643 22.9165 12.3622C22.7811 7.47678 18.6978 3.39345 13.8124 3.25803ZM13.2811 8.46636C12.8541 8.46636 12.4999 8.82053 12.4999 9.24761V13.0809C12.4999 13.4455 12.6978 13.7893 13.0103 13.9768L16.2603 15.9039C16.6353 16.1226 17.1145 15.9976 17.3332 15.633C17.552 15.258 17.427 14.7789 17.0624 14.5601L14.0624 12.7789V9.2372C14.0624 8.82053 13.7082 8.46636 13.2811 8.46636Z" fill="black"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_797_2207">
                    <rect width="25" height="25" fill="white" transform="translate(0 0.132812)"/>
                    </clipPath>
                    </defs>
                    </svg>
                     Posted <%= job.posted %></span>
                  <span><%= job.salary %></span>
                </div>
          
               
                <button class="card-button">
                  View <svg width="15" height="15" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.6936 15.1729H2.36027" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.6936 2.83984L3.36027 12.1732" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M12.6936 9.68651V2.83984H5.84694" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    
                    </span>
                </button>
              </div>
            <% }) %>
          </div>
        <!-- Модальне вікно профілю -->
<!-- Модальне вікно для профілю -->



    
    <div id="profileModal" class="modal">
      <div class="modal-content">
        <span class="close">&times;</span>
        <div class="profile-card">
          <!-- Profile Image -->
          <div class="profile-pic">
            <img src="" alt="Profile Picture" />
          </div>
          <!-- Profile Name -->
          <div class="profile-name" id="profile-name"></div>
          <!-- Tags -->
          <div class="profile-tags"></div>
         <div class="profile-links">

    <div class="link">
      <img  alt=" Icon">
      <a href="" target="_blank"></a>
    </div>
 
</div>
          <!-- Description -->
          <div class="profile-description">
            <p></p>
          </div>
        </div>
      </div>
    </div>
 

<script>

  
document.addEventListener("DOMContentLoaded", () => {
    initializeViewButtons();
    loadProfileData();  // Call the function to load profile data into the modal
});


function initializeViewButtons() {
  const viewButtons = document.querySelectorAll(".card-button");
  const modal = document.getElementById("profileModal");
  const closeButton = modal.querySelector(".close");

  viewButtons.forEach((button) => {
      button.addEventListener("click", async () => {
          console.log("View button clicked.");
          const profileData = await fetchProfileData();
          populateModal(profileData);
          modal.style.display = "block";
      });
  });

  closeButton.addEventListener("click", () => {
      console.log("Close button clicked.");
      modal.style.display = "none";
  });

  window.addEventListener("click", (event) => {
      if (event.target === modal) {
          console.log("Clicked outside modal. Closing modal.");
          modal.style.display = "none";
      }
  });
}

async function fetchProfileData() {
  try {
      const response = await fetch('/api/profile');
      if (!response.ok) throw new Error('Failed to fetch profile data');
      return await response.json();
  } catch (error) {
      console.error(error);
      return null;
  }
}

function populateModal(data) {
    // Get the modal elements
    const profileModal = document.getElementById("profileModal");

    // Set profile image
    const profileImage = profileModal.querySelector(".profile-pic img");
    profileImage.src = `/images/${data.image}`;

    // Set name
    const profileName = profileModal.querySelector("#profile-name");
    profileName.textContent = data.name_recruiters;

    // Set tags
    const profileTags = profileModal.querySelector(".profile-tags");
    profileTags.innerHTML = data.tags.map(tag => `<div class="tag1">${tag}</div>`).join("");

    // Set links with icons
    const profileLinks = profileModal.querySelector(".profile-links");
    profileLinks.innerHTML = data.links.map(link => `
        <div class="link">
            <img src="/images/${link.icon}" alt="${link.name} Icon" width="24" height="24">
            <a href="${link.url}" target="_blank">${link.name}</a>
        </div>
    `).join("");

    // Set description
    const profileDescription = profileModal.querySelector(".profile-description p");
    profileDescription.textContent = data.description.bio;
}


function generateCards() {
    const blogContainer = document.querySelector(".blog-cards");

    if (!blogContainer) {
        console.error("Blog container not found.");
        return;
    }

    blogData.forEach((post) => {
        const card = document.createElement("div");
        card.classList.add("card");
        card.innerHTML = `
          <img src="${post.image}" alt="Post Image">
          <div class="content">
            <div class="title">${post.title}</div>
            <div class="description">${post.description}</div>
            <div class="info">
              <div class="profile">
                <img src="${post.avatar}" alt="Profile Picture">
                <div class="profile-text">
                  <div class="name">${post.author}</div>
                  <div class="date">${post.date}</div>
                </div>
              </div>
              <div class="icon">★</div>
            </div>
          </div>
        `;
        blogContainer.appendChild(card);
    });
}


</script>
        
       
        
  
            </main>
    </base> </div>
</body>

</html>
